.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border: 1px solid grey;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;

}

.main > * {
    margin-bottom: 20px;
}

.main input {
    border-radius: 5px;
    height: 30px;
    width: 150px;
    padding: 2px 5px;
}

.main button {
    border-radius: 5px;
    height: 30px;
    width: 150px;
}

.main form[autocomplete="off"] input[type="text"] {
    background-position: 150% 50% !important;
}